body{
    background-color: whitesmoke;
    color: rgb(221, 19, 221);
}
h1{
    text-align: center;
    color: rebeccapurple ;
 }
 h2{
      text-align: center;
      color: rebeccapurple;
}
p{ 
    text-align: center;
}